{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Tempete Bookmarks |
         {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css"
        type="text/css" /> 

        <script type="text/javascript"
        src="/static/jquery.js"></script>  
        {% block external %} {% endblock %}
</head>
<body>
    <div id="nav">
     <a href="/">home</a>
     <a href="/popular/">popular</a>
     {% if user.is_authenticated %}
      <a href="/save/">submit</a>
      <a href="/search/">search</a>
      <a href="/user/{{ user.username }}/">
        {{ user.username }}</a>
       (<a href="/logout/">logout</a>)
     {% else %}
       <a href="/login/">login</a>
       <a href="/register/">register</a>
     {% endif %}     
    </div>
   <h1>
    {% block head %}
    {% endblock %}
  </h1> 
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
  <div id="footer">
    Tempete Bookmarks <br/>
    Languages:
    <a href="/i18n/setlang/?language=en">en</a>
    <a href="/i18n/setlang/?language=de">de</a>
    <a href="/i18n/setlang/?language=es">es</a>
    <a href="/i18n/setlang/?language=fr">fr</a>
    <a href="/i18n/setlang/?language=pl">pl</a>
    
    
  </div>
</body>
</html>